@import "tailwindcss";
@tailwind utilities;

@theme{
    --font-headers: 'Montserrat', sans-serif;
    --font-regular: 'Poppins', sans-serif;
    --color-gold: #ffb347;
    --color-button: #9ca5ad;
    --color-lighter-main: #0f3b68;
    --color-ambergold: #FFC145 ;
    --color-darkgray: #1f1f1f;
    --color-main: #0d1b2a;
    --color-secondary: #f5f7fa;
    --color-light: #3c7ab3;
    --color-lightest: #639bd8;
    --color-lightsecond: #5aa1fb;
    --color-lightestofall: #a7bbff;
    --color-gradient: #1f0f68;
}
