@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme{
    --font-headers: 'Montserrat', sans-serif;
    --font-regular: 'Poppins', sans-serif;
    --color-gold: #ffb347;
    --color-button: #9ca5ad;
    --color-lighter-main: #0f3b68;
    --color-ambergold: #FFC145 ;
    --color-darkgray: #1f1f1f;
    --color-main: #0d1b2a;
    --color-secondary: #f5f7fa;
    --color-light: #3c7ab3;
    --color-lightest: #639bd8;
    --color-gradient: #1f0f68;
}
