@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind utilities;

@theme{
    --font-headers: 'Montserrat', sans-serif;
    --font-regular: 'Poppins', sans-serif;
    --color-gold: #ffb347;
    --color-mint: #4bb3a1;
    --color-light:#e0f7f7;
    --color-emerald: #033931;
    --color-orange: #ffa500;
    --color-darkgray: #1f1f1f;
    --color-mainteal: #008080;
}
body{
    background-color: var(--color-mainteal);

}